{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Sign In" %}{% endblock head_title %}

{% block content %}
    <h1>{% translate "Sign In" %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% translate "Sign In" %}</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p><a href="{% url "account_reset_password" %}">{% translate "Forgot Password?" %}</a></p>
    <p>{% blocktranslate %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktranslate %}</p>
{% endblock content %}