asgiref
async-timeout
certifi
cffi
charset-normalizer
cryptography
defusedxml
Deprecated
Django
django-allauth
django-anymail
django-browser-reload
django-debug-toolbar
django-environ
django-htmx
django-redis
idna
oauthlib
packaging
psycopg2-binary
pycparser
PyJWT
pyparsing
python3-openid
redis
requests
requests-oauthlib
sqlparse
urllib3
whitenoise
wrapt
